<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <head th:replace="partials/navbar :: head('All Events')"></head>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
    <p class="lead">Event Listings</p>
    <div class="row d-flex justify-content-center">
        <th:block th:each="event : ${events}">
            <div class="col-sm-12 col-lg-6 col-xl-4 d-flex flex-column">
                <div class="card h-100">
                    <img class="card-img-top card-img-h25" th:src="${event.media_location}" alt="Event Banner"/>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${event.name}"></h5>
                        <h5 class="card-title" th:each="artist : ${event.artists}" th:text="${artist.name}"></h5>
                        <h6 class="card-subtitle mb-2 text-muted"
                            th:text="${event.start_date.toLocaleString()} + ' @ ' + ${event.location}"></h6>
                        <h6 class="card-subtitle mb-2 text-muted"
                            th:text="'Tickets: $' + ${event.tickets_price} + ' / ' + ${event.tickets_available} + ' left!'"></h6>
                        <br/>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary d-block" role="button"
                           th:href="@{/events/__${event.id}__}">Details</a>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
<script th:replace="partials/navbar :: scripts"></script>
</body>
</html>