<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<th:block th:include="partials/navbar :: head('All Events')"></th:block>-->
    <head th:replace="partials/navbar :: head('All Events')"></head>
    <link rel="stylesheet" th:href="@{/css/profile.css}" />
</head>
<body>

<div class="container-fluid">
    <img class="blur" th:src="@{/img/adult-audience-band-625644.jpg}"  alt="" />
        <nav th:replace="partials/navbar :: navbar"></nav>
        <div class="container-fluid foreground">
            <div class="row">
                <th:block th:each="event : ${events}">
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" th:src="${event.media_location}" alt="Event Banner"/>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${event.name}"></h5>
                                <h6 class="card-subtitle mb-2 text-muted"
                                    th:text="${event.start_date.toLocaleString()} + ' @ ' + ${event.location}"></h6>
                                <br/>
                                <a class="btn btn-outline-primary" role="button" th:href="@{/events/__${event.id}__}">Details</a>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
</div>
<script th:replace="partials/navbar :: scripts"></script>
</body>
</html>