<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/navbar :: head('Create an Event')"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container-fluid">
    <!--<img class="blur" th:src="@{/img/adult-audience-band-625644.jpg}" alt=""/>-->
    <div class="register-bg foreground">
        <!--TITLE-->
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Create Your Event</h1>
            </div>
        </div>


        <form class="center" th:action="@{/events/create}" th:method="POST" th:object="${event}">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <fieldset class="registration-Transparency container-fluid">
                        <div>
                            <legend style="font-size: 1.5em">Event Information</legend>
                        </div>

                        <div class="form-group">
                            <!-- Name -->
                            <label for="name">Name</label>
                            <input placeholder="event name" type="text" id="name" name="name" class="form-control"
                                   th:field="*{name}"/>
                        </div>

                        <div class="form-group">
                            <!-- Location-->
                            <label for="location">Location</label>
                            <input placeholder="event location" id="location" name="location" class="form-control"
                                   th:field="*{location}"/>
                        </div>

                        <div class="form-group">
                            <!-- Start Date -->
                            <label for="start_date">Start Date</label>
                            <input id="start_date" type="date" placeholder="" class="form-control"
                                   th:field="*{start_date}"/>
                        </div>

                        <div class="form-group">
                            <!-- End Date -->
                            <label for="end_date">End Date</label>
                            <input id="end_date" type="date" placeholder="" class="form-control"
                                   th:field="*{end_date}"/>
                        </div>

                        <div class="form-group">
                            <label for="target_budget">Event Budget</label>
                            <input type="text" id="target_budget" placeholder="event budget" class="form-control"
                                   name="event_budget"/>
                        </div>

                        <div class="form-group">
                            <label for="target_budget">Target Spending</label>
                            <input type="text" id="target_spending" placeholder="target spending"
                                   class="form-control" name="target_spending"/>
                        </div>

                        <div class="form-group">
                            <label for="target_profit">Target Profit</label>
                            <input type="text" id="target_profit" placeholder="target profit" class="form-control"
                                   name="target_profit"/>
                        </div>

                        <div class="form-group">
                            <label for="tickets">Available tickets for sale</label>
                            <input type="text" id="tickets" placeholder="number of tickets for sale"
                                   class="form-control" name="tickets"/>
                        </div>

                        <div class="form-group">
                            <label for="tickets">Price per Ticket</label>
                            <input type="text" placeholder="price per ticket"
                                   class="form-control" th:field="*{tickets_price}"/>
                        </div>

                        <div class="form-group">
                            <label for="name">Description</label>
                            <textarea placeholder="Please give us a detailed description of your event"
                                      class="form-control" id="exampleTextarea" rows="3"
                                      th:field="*{description}"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="url">Create your own URL</label>
                            <input type="text" id="url" name="url" placeholder="pick your own url"
                                   class="form-control" th:field="*{url}"/>.theeventaid.com
                        </div>

                        <div class="form-group">
                            <button onclick="openPicker()" type="button" class="btn btn-outline btn-outline-primary">
                                Upload Image
                            </button>
                        </div>

                        <div id="picUrl"></div>

                        <div id="posts" class="container-fluid"></div>
                    </fieldset>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-primary">Create Your Event</button>
                        </div>
                    </div>
                </div>

                <!--ARTISTS INPUT STARTS HERE-->
                <div class="col-sm-4">
                    <!--another row here-->
                    <fieldset class="registration-Transparency container-fluid">
                        <div id="add_artists">
                            <legend style="font-size: 1.5em">Add Artists</legend>
                        </div>

                        <div class="form-group">
                            <label for="name">Name</label>

                            <input placeholder="artist's name" type="text" id="artists_name" name="artist_name"
                                   class="form-control"/>

                        </div>

                        <div class="form-group">
                            <label for="start_date">Artists' Cost</label>

                            <input id="artist_cost" placeholder="artist's cost" class="form-control"
                                   name="artist_cost"/>

                        </div>

                        <div class="form-group">
                            <button onclick="filePicker()" type="button" class="btn btn-outline btn-outline-primary">
                                Upload Contract
                            </button>
                        </div>

                        <div id="fileUrl"></div>
                        <div id="filePost"></div>

                        <div class="form-group">
                            <!-- Notes -->
                            <label for="name">Notes</label>
                            <textarea placeholder="Notes on artist (conditions, contract, clause, etc)"
                                      class="form-control" id="artist_note" name="artist_note" rows="3"></textarea>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </form>
    </div>
</div>

<script src="https://static.filestackapi.com/v3/filestack.js"></script>
<div th:replace="partials/navbar :: scripts"/>

<script th:inline="javascript">
    // FILESTACK JSON CALL
    var fsClient = filestack.init('An8EGKOh9TGGuI8Vymqonz');

    function openPicker() {
        fsClient.pick({
            fromSources: ["local_file_system", "facebook", "instagram", "googledrive", "dropbox", "flickr", "box", "gmail", "picasa"],
            accept: ["image/*"],
            maxFiles: 1
        }).then(function (response) {
            // declare this function to handle response
            handleFilestack(response);
        });
    }

    function handleFilestack(response) {
        $('#picUrl').append('<input type="text" id="upload" name="upload" value=" ' + response.filesUploaded['0'].url + '" />');
        $('#posts').append('<div class="container">');
        $('#posts').append('<img src=" ' + response.filesUploaded['0'].url + ' " style="\width: 60%; margin-bottom: 1em;\" />');
        $('#posts').append('</div>');

        document.getElementById('upload').dataset.handler = response.url;
    }

    function filePicker() {
        fsClient.pick({
            fromSources: ["local_file_system", "url", "googledrive", "dropbox", "evernote", "box", "github", "gmail", "onedrive"],
            accept: [".pdf", ".doc", ".docx", ".docm", "text/plain"]
        }).then(function (response) {
            // declare this function to handle response
            handle(response);
        });
    }

    function handle(response) {
        $('#fileUrl').append('<input type="text" id="fileUpload" name="fileUpload" value=" ' + response.filesUploaded['0'].url + '" />');
        $('#filePost').append('<div class="container">');
        $('#filePost').append('<img src=" ' + response.filesUploaded['0'].url + ' " style="\width: 40%; margin-bottom: 1em;\" />');
        $('#filePost').append('</div>');

        document.getElementById('upload_file').dataset.handler = response.url;
    }

</script>

</body>
</html>