<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/navbar :: head('Edit Your Event')"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<!--<img class="blur" th:src="@{/img/adult-audience-band-625644.jpg}" alt=""/>-->
<!--TITLE-->
<form th:action="@{/events/edit}" th:method="POST" th:object="${event}" class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Edit Your Event</h5>
            <div class="row">
                <!--EVENT INFORMATION-->
                <div class="col-xs-12 col-lg-6">
                    <div class="form-group">
                        <!-- Name -->
                        <input placeholder="Event Name" type="text" class="form-control"
                               th:field="*{name}" th:maxlength="50"/>
                        <small class="form-text text-muted">Enter The Name Of Your Event</small>
                    </div>

                    <div class="form-group">
                <textarea placeholder="Event Description"
                          class="form-control" rows="4"
                          th:field="*{description}"></textarea>
                        <small class="form-text text-muted">Tell Us A Little About Your Event</small>
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Event Url"
                               class="form-control" th:field="*{url}"/>
                        <small class="form-text text-muted">Give Us A Link To Your Event Homepage</small>
                    </div>


                    <div class="form-group">
                        <!-- Location-->
                        <input placeholder="Event Address" id="location" name="location" class="form-control"
                               th:field="*{location}" th:maxlength="50"/>
                        <small class="form-text text-muted">Where Will Your Event Be Held?</small>
                    </div>

                    <div class="form-group">
                        <!-- Start Date -->
                        <input id="start_date" type="date" placeholder="" class="form-control"
                               th:field="*{start_date}"/>
                        <small class="form-text text-muted">Event Start Date</small>
                    </div>

                    <div class="form-group">
                        <!-- End Date -->
                        <input id="end_date" type="date" placeholder="" class="form-control"
                               th:field="*{end_date}"/>
                        <small class="form-text text-muted">Event End Date</small>
                    </div>
                </div>

                <!--BUDGET INFORMATION-->
                <div class="col-xs-12 col-lg-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" id="target_budget" placeholder="Budget" class="form-control"
                                   th:field="*{event_budget}" th:min="0"/>
                        </div>
                        <small class="form-text text-muted">What Is Your Budget For This Event?</small>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" id="target_spending" placeholder="Target Spending"
                                   class="form-control" th:field="*{target_spending}" th:min="0"/>
                        </div>
                        <small class="form-text text-muted">How Much Are You Willing To Spend On This Event?</small>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" id="target_profit" placeholder="Target Profit" class="form-control"
                                   th:field="*{target_profit}" th:min="0"/>
                        </div>
                        <small class="form-text text-muted">How Much Would You Like To Make From This Event?</small>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" placeholder="Price Per Ticket"
                                   class="form-control" th:field="*{tickets_price}" th:min="0"/>
                        </div>
                        <small class="form-text text-muted">How Much Will A Ticket Be?</small>
                    </div>

                    <div class="form-group">
                        <input type="number" placeholder="Tickets Available"
                               class="form-control" th:field="*{tickets_available}" th:min="1"/>
                        <small class="form-text text-muted">Number Of Available Tickets</small>
                    </div>

                    <div class="form-group">
                        <button onclick="openPicker()" type="button" class="btn btn-outline btn-outline-primary">
                            Upload Banner Image
                        </button>
                    </div>

                    <div class="form-group">
                        <div class="controls">
                            <button class="btn btn-primary">Update Your Event</button>
                        </div>
                    </div>

                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{owner}"/>
                    <input type="hidden" th:field="*{media_location}"/>
                    <div id="picUrl" style="display: none"></div>
                    <div id="posts"></div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://static.filestackapi.com/v3/filestack.js"></script>
<div th:replace="partials/navbar :: scripts"/>

<script th:inline="javascript">
    // FILESTACK JSON CALL
    // var fsClient = filestack.init('An8EGKOh9TGGuI8Vymqonz');
    var fsClient = filestack.init('ABJ9cuZvQeyEyxvb0dSl5z');


    function openPicker() {
        fsClient.pick({
            fromSources: ["local_file_system", "facebook", "instagram", "googledrive", "dropbox", "flickr", "box", "gmail", "picasa"],
            accept: ["image/*"],
            maxFiles: 1
        }).then(function (response) {
            // declare this function to handle response
            handleFilestack(response);
        });
    }

    function handleFilestack(response) {
        $('#picUrl').append('<input type="text" id="upload" name="upload" value=" ' + response.filesUploaded['0'].url + '" />');
        $('#posts').append('<div>');
        $('#posts').append('<img class="img-thumbnail" src="' + response.filesUploaded['0'].url + '"/>');
        $('#posts').append('</div>');
    }
</script>

</body>
</html>