<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/navbar :: head(${event.getName()})"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="card">
                <img class="card-img-top" th:src="@{/img/turntable.jpg}" alt="Event Banner"/>
                <div class="card-body">
                    <h5 class="card-title" th:text="${event.name}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted"
                        th:text="${event.start_date.toLocaleString()} + ' @ ' + ${event.location}"></h6>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="card">
                <div class="card-header">
                    Details
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:inline="text">
                        <h5>Address</h5>
                        <h6 class="text-muted">[[${event.venue_id.address}]]</h6>
                    </li>
                    <li class="list-group-item" th:inline="text">
                        <h5>Ticket Price</h5>
                        <h6 class="text-muted">TODO</h6>
                    </li>
                    <li class="list-group-item" th:inline="text">
                        <h5>Event Organizer</h5>
                        <h6 class="text-muted">[[${event.owner.firstname}]] [[${event.owner.lastname}]]</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script th:replace="partials/navbar :: scripts"></script>
</body>
</html>