<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/navbar :: head(${event.getName()})"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
    <div class="row mb-5">
        <div class="col-12">
            <div class="card">
                <img class="card-img-top card-img-h50" th:src="@{ __${event.media_location}__ }" alt="Event Banner"/>
                <div class="card-body">
                    <h5 class="card-title" th:text="${event.name}"></h5>
                    <h5 class="card-title" th:each="artist : ${event.artists}" th:text="${artist.name}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted"
                        th:text="${#dates.format(event.start_date, 'dd-MMM-yyyy')} + ' @ ' + ${event.location}"></h6>
                </div>
                <div class="card-footer" sec:authorize="isAuthenticated()">
                    <a href="#" class="btn btn-outline btn-outline-primary d-inline-block" th:if="${!#authentication.principal.owner}">Buy Tickets</a>

                    <a th:href="@{/events/edit/__${event.id}__}" class="btn btn-outline btn-outline-primary d-inline-block" th:if="${event.owner.id == #authentication.principal.id}">Edit Event</a>
                    <form th:action="@{/events/delete/__${event.id}__}" th:method="POST" class="d-inline-block" th:if="${event.owner.id == #authentication.principal.id}">
                        <button class="btn btn-outline-danger">Delete Post</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Description
                </div>
                <div class="card-body">
                    <p class="text-muted" th:inline="text">
                        <em>[[${event.description}]]</em>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="card">
                <div class="card-header">
                    Details
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:inline="text">
                        <h5>Address</h5>
                        <h6 id="location" class="text-muted">[[${event.venue_id.address}]]</h6>
                    </li>
                    <li class="list-group-item" th:inline="text">
                        <h5>Ticket Price</h5>
                        <h6 class="text-muted">$[[${event.tickets_price}]]</h6>
                    </li>
                    <li class="list-group-item" th:inline="text">
                        <h5>Event Organizer</h5>
                        <h6 class="text-muted">[[${event.owner.firstname}]] [[${event.owner.lastname}]]</h6>
                    </li>
                    <li class="list-group-item" th:inline="text">
                        <h5>Event Site</h5>
                        <a class="text-primary" th:href="${event.url}">[[${event.url}]]</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="card">
                <div class="card-header">
                    Map
                </div>
                <div id="map" class="card-body"></div>
            </div>
        </div>
    </div>
</div>
<script th:replace="partials/navbar :: scripts"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDdKaYMRw2i50cmbUMnWqhTgalT33KA40"></script>
<script>
    window.onload = function () {

        var location = document.getElementById('location').innerText;
        console.log(location);

        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 10
        });

        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({address: location}, function (results, status) {
            if(status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                console.error('Geocoding: ' + status);
            }
        })
    };
</script>
</body>
</html>