<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/navbar :: head('Purchase Confirmation')"></head>
<head>
    <title>Result</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <h3 th:if='${error}' th:text='${error}' style='color: red;'></h3>
    <div th:unless='${error}'>
        <th:block th:unless="${#authentication.principal.owner}">
            <h1 class="display-3">Thank You For Your Purchase!</h1>
            <h1 class="display-4">This Information Is Available On Your Profile</h1>
        </th:block>
        <div class="container-fluid">
            <div class="row">
                <th:block th:object="${ticket}">
                    <div class="col-xs-12 col-lg-4 offset-lg-4">
                        <div class="card">
                            <div class="card-header" th:text="'Transaction ' + ${ticket.balance_transaction_id}"></div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" th:text="'Purchased: ' + ${#dates.format(ticket.purchased_on, 'dd-MMM-yyyy')}"></li>
                            </ul>
                            <div class="card-footer">
                                <a class="btn btn-outline-primary" role="button"
                                   th:href="@{/events}">Back to Events</a>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>

