<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/navbar :: head('Profile')">
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <th:block sec:authorize="isAuthenticated()" th:if="${user}">
        <th:block th:if="${#authentication.principal.owner}">
            <h3 class="nav-item">
                My Events
            </h3>
            <div class="row d-flex justify-content-center">
                <th:block th:each="event : ${user.events}">
                    <div class="col-xs-12 col-sm-6 col-lg-4 d-flex align-self-stretch">
                        <div class="card">
                            <img class="card-img-top card-img-h25" th:src="${event.media_location}" alt="Event Banner"/>
                            <div class="card-header text-muted"
                                 th:text="${event.getDateString()}">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${event.name}"></h5>
                                <h5 class="card-title" th:each="artist : ${event.artists}"
                                    th:text="${artist.name}"></h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" th:text="'Address: ' + ${event.location}"></li>
                                    <li class="list-group-item"
                                        th:text="'Budget:' + '$' + ${#numbers.formatDecimal(event.event_budget, 0, 'COMMA', 2, 'POINT')}"></li>
                                    <li class="list-group-item"
                                        th:text="'Target Spending:' + '$' + ${#numbers.formatDecimal(event.target_spending, 0, 'COMMA', 2, 'POINT')}"></li>
                                    <li class="list-group-item"
                                        th:text="'Target Profit:' + '$' + ${#numbers.formatDecimal(event.target_profit, 0, 'COMMA', 2, 'POINT')}"></li>
                                    <li class="list-group-item"
                                        th:text="'Tickets Available: ' + ${event.tickets_available}"></li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-outline-primary" role="button"
                                   th:href="@{/events/__${event.id}__}">View</a>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </th:block>
        <!--REGULAR USER HERE-->
        <th:block th:unless="${#authentication.principal.owner}">
            <h3>Events I'm Attending</h3>
            <div class="row d-flex justify-content-center">
                <th:block th:each="event : ${user.eventTickets}">
                    <div class="col-xs-12 col-sm-6 col-lg-4 d-flex align-self-stretch">
                        <div class="card">
                            <img class="card-img-top card-img-h25"
                                 th:src="${event.getEvent_id().media_location}"
                                 alt="Event Banner"/>
                            <div class="card-header" th:text="'Purchased: ' + ${event.purchased_on.toGMTString()}"></div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${event.getEvent_id().name}"></h5>
                                <p class="card-text text-muted"
                                     th:text="${event.getEvent_id().getDateString()} + ' @ ' + ${event.getEvent_id().location}"></p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-outline-primary" role="button"
                                   th:href="@{/events/__${event.event_id.getId()}__}">View Event</a>
                                <a onclick="test()" href="#" class="btn btn-outline-primary" role="button"
                                   data-toggle="modal" data-target="#ticketModal">View Ticket</a>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="ticketModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">View Ticket</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <form>
                                    <div class="modal-body">
                                        <!--barcode here-->
                                        <svg class="barcode"
                                             jsbarcode-format="auto"
                                             th:attr="jsbarcode-value=${event.getCharge_id()}"
                                             jsbarcode-textmargin="0"
                                             jsbarcode-textAlign="center"
                                             jsbarcode-fontsize="10"
                                             jsbarcode-width="1"
                                             jsbarcode-fontoptions="bold">
                                        </svg>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </th:block>
<!--<<<<<<< HEAD-->

        <!--<div class="row d-flex justify-content-center">-->
            <!--<th:block th:each="event : ${user.events}">-->
                <!--<div class="col-xs-12 col-sm-6 col-lg-4 d-flex align-self-stretch">-->
                    <!--<div class="card">-->
                        <!--<img class="card-img-top card-img-h25" th:src="${event.media_location}" alt="Event Banner"/>-->
                        <!--<div class="card-header text-muted"-->
                             <!--th:text="${event.getDateString()} + ' @ ' + ${event.location}"></div>-->
                        <!--<div class="card-body">-->
                            <!--<h5 class="card-title" th:text="${event.name}"></h5>-->
                            <!--<h5 class="card-title" th:each="artist : ${event.artists}" th:text="${artist.name}"></h5>-->
                            <!--<div class="card-text">-->
                                <!--<h6 th:text="'Budget:' + '$' + ${#numbers.formatDecimal(event.event_budget, 0, 'COMMA', 2, 'POINT')}"></h6>-->
                                <!--<h6 th:text="'Target Spending:' + '$' + ${#numbers.formatDecimal(event.target_spending, 0, 'COMMA', 2, 'POINT')}"></h6>-->
                                <!--<h6 th:text="'Target Profit:' + '$' + ${#numbers.formatDecimal(event.target_profit, 0, 'COMMA', 2, 'POINT')}"></h6>-->
                                <!--<h6 th:text="'Tickets Available: ' + ${event.tickets_available}"></h6>-->
                                <!--&lt;!&ndash;<h6 th:text="'Tickets Sold: ' + ${event.}"></h6>&ndash;&gt;-->
                            <!--</div>-->
                            <!--<br/>-->
                        <!--</div>-->
                        <!--<div class="card-footer">-->
                            <!--<a class="btn btn-outline-primary" role="button"-->
                               <!--th:href="@{/events/__${event.id}__}">View</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</th:block>-->
        <!--</div>-->
    </th:block>
</div>
<script th:replace="partials/navbar :: scripts"></script>
<script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
<script th:inline="javascript">
    JsBarcode(".barcode").init();
</script>
</body>
</html>