<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/navbar :: head('Profile')"></head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <th:block sec:authorize="isAuthenticated()">
        <h3 class="nav-item" th:if="${#authentication.principal.owner}">
            My Events
        </h3>
            <th:block th:unless="${#authentication.principal.owner}">
                <h3>Events I'm attending</h3>
                <div class="row d-flex justify-content-center">

                    <!--REGULAR USER HERE-->
                    <th:block th:each="event : ${user.eventTickets}">
                        <div class="col-xs-12 col-sm-6 col-lg-4 d-flex align-self-stretch">
                            <div class="card">
                                <img class="card-img-top card-img-h25" th:src="${event.getEvent_id().media_location}" alt="Event Banner"/>
                                <div class="card-header text-muted" th:text="${event.getEvent_id().getDateString()} + ' @ ' + ${event.getEvent_id().location}"></div>
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${event.getEvent_id().name}"></h5>
                                    <h5 class="card-title" th:each="artist : ${event.getEvent_id().artists}" th:text="${artist.name}"></h5>
                                    <h6 class="card-text" th:text="'Your Ticket ID: ' + ${event.getCharge_id()}">
                                    </h6>
                                    <br/>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-outline-primary" role="button"
                                       th:href="@{/events/__${event.event_id.getId()}__}">View</a>
                                </div>
                            </div>
                        </div>

                        <!--<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
                            <!--<div class="modal-dialog modal-dialog-centered" role="document">-->
                                <!--<div class="modal-content">-->
                                    <!--<div class="modal-header">-->
                                        <!--<h5 class="modal-title">View Ticket</h5>-->
                                        <!--<button type="button" class="close" data-dismiss="modal">-->
                                            <!--<span>&times;</span>-->
                                        <!--</button>-->
                                    <!--</div>-->
                                    <!--<form>-->
                                        <!--<div class="modal-body">-->
                                            <!--<div class="form-group">-->
                                                <!--<h6 class="card-text" th:text="'Charge ID: ' + ${event.getCharge_id()}">-->
                                                <!--</h6>-->
                                            <!--</div>-->
                                            <!--<div class="form-group">-->
                                                <!--<h6 class="card-text" th:text="'Transaction ID: ' + ${event.getBalance_transaction_id()}">-->
                                                <!--</h6>-->
                                            <!--</div>-->
                                            <!--<div class="form-group">-->
                                                <!--<h6 class="card-text" th:text="'Balance Charged: ' + ${event.getBalance_charged()}">-->
                                                <!--</h6>-->
                                            <!--</div>-->
                                            <!--<div class="form-group">-->
                                                <!--<h6 class="card-text" th:text="'Charge Status: ' + ${event.getCharge_status()}">-->
                                                <!--</h6>-->
                                            <!--</div>-->
                                            <!--<div class="modal-footer">-->
                                                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</form>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </th:block>
                </div>
            </th:block>

        <div class="row d-flex justify-content-center">
            <th:block th:each="event : ${user.events}">
                <div class="col-xs-12 col-sm-6 col-lg-4 d-flex align-self-stretch">
                    <div class="card">
                        <img class="card-img-top card-img-h25" th:src="${event.media_location}" alt="Event Banner"/>
                        <div class="card-header text-muted" th:text="${event.getDateString()} + ' @ ' + ${event.location}"></div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${event.name}"></h5>
                            <h5 class="card-title" th:each="artist : ${event.artists}" th:text="${artist.name}"></h5>
                            <div class="card-text">
                                <h6 th:text="'Budget:' + '$' + ${#numbers.formatDecimal(event.event_budget, 0, 'COMMA', 2, 'POINT')}"></h6>
                                <h6 th:text="'Target Spending:' + '$' + ${#numbers.formatDecimal(event.target_spending, 0, 'COMMA', 2, 'POINT')}"></h6>
                                <h6 th:text="'Target Profit:' + '$' + ${#numbers.formatDecimal(event.target_profit, 0, 'COMMA', 2, 'POINT')}"></h6>
                                <h6 th:text="'Tickets Available: ' + ${event.tickets_available}"></h6>
                            </div>
                            <br/>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-outline-primary" role="button"
                               th:href="@{/events/__${event.id}__}">View</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </th:block>
</div>
<script th:replace="partials/navbar :: scripts"></script>
</body>
</html>