<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<head th:replace="partials/navbar :: head"></head>-->

<head th:replace="partials/navbar :: head('Create an Account')"></head>

<body>

<div class="register-bg">
    <nav th:replace="partials/navbar :: navbar"/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-4 offset-lg-4">
                <form class="center" th:action="@{/register}" method="POST" th:object="${user}">
                    <!--<div id="legend">-->
                    <!--<legend style="font-size: 2.5em">Register</legend>-->
                    <!--</div>-->
                    <div class="form-group">
                        <!-- First name -->
                        <label for="firstname">First Name</label>
                        <input type="text" id="firstname" name="firstname" class="form-control"
                               th:field="*{firstname}"/>
                        <small class="form-text text-muted">First name can contain any letters or numbers, without
                            spaces
                        </small>
                    </div>
                    <div class="form-group">
                        <!-- First name -->
                        <label for="lastname">Last Name</label>
                        <input type="text" id="lastname" name="lastname" placeholder="" class="form-control"
                               th:field="*{lastname}"/>
                        <small class="form-text text-muted">Lastname can contain any letters or numbers, without
                            spaces
                        </small>
                    </div>

                    <div class="form-group">
                        <!-- E-mail -->
                        <label for="email">E-mail</label>
                        <input type="text" id="email" name="email" placeholder="" class="form-control"
                               th:field="*{email}"/>
                        <small class="form-text text-muted">Please provide your E-mail</small>
                    </div>

                    <div class="form-group">
                        <!-- Password-->
                        <label for="password">Password</label>

                        <input type="password" id="password" name="password" placeholder="" class="form-control"
                               th:field="*{password}"/>
                        <small class="form-text text-muted">Password should be at least 4 characters</small>

                    </div>

                    <div class="form-group">
                        <!-- Telephone -->
                        <label for="telephone">Mobile</label>

                        <input type="text" id="telephone" name="telephone" placeholder="" class="form-control"
                               th:field="*{telephone}"/>
                        <small class="form-text text-muted">Please provide your mobile number</small>

                    </div>

                    <div class="form-group">
                        <!-- Address -->
                        <label for="address">Address</label>

                        <input type="text" id="address" name="address" placeholder="" class="form-control"
                               th:field="*{address}"/>
                        <small class="form-text text-muted">Please provide your address</small>

                    </div>

                    <div class="form-check">
                        <label for="isOrganizer">Organizer</label>
                        <input id="isOrganizer" th:field="*{owner}" type="checkbox" value="1"/>
                    </div>
                    <!--<input type="text" class="form-control" aria-label="Text input with checkbox" />-->

                    <div class="form-group">
                        <div id="recaptcha" class="g-recaptcha" data-theme="light"
                             data-sitekey="6Leq0lYUAAAAADnxWDPdAT1g3FznT25yVZN8viFK"></div>
                        <!-- Button -->
                        <div class="controls">
                            <small class="form-text text-muted">Please sign in after registering!</small>
                            <button class="btn btn-primary">Register</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="partials/navbar :: scripts"/>
<script src='https://www.google.com/recaptcha/api.js'></script>

</body>
</html>