<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<head th:replace="partials/navbar :: head"></head>-->

<head th:replace="partials/navbar :: head('Create an Account')"></head>

<body>

<div class="register-bg">
    <nav th:replace="partials/navbar :: navbar" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form class ="center" th:action="@{/register}" method="POST" th:object="${user}">
                    <fieldset class="registration-Transparency container-fluid">
                        <div id="legend">
                            <legend style="font-size: 2.5em">Register</legend>
                        </div>
                        <div class="control-group">
                            <!-- First name -->
                            <label class="control-label" for="firstname">First Name</label>
                            <div class="controls">
                                <input type="text" id="firstname" name="firstname" class="input-xlarge" th:field="*{firstname}"/>
                                <p class="help-block">First name can contain any letters or numbers, without spaces</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <!-- First name -->
                            <label class="control-label"  for="lastname">Last Name</label>
                            <div class="controls">
                                <input type="text" id="lastname" name="lastname" placeholder="" class="input-xlarge" th:field="*{lastname}"/>
                                <p class="help-block">Lastname can contain any letters or numbers, without spaces</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- E-mail -->
                            <label class="control-label" for="email">E-mail</label>
                            <div class="controls">
                                <input type="text" id="email" name="email" placeholder="" class="input-xlarge" th:field="*{email}"/>
                                <p class="help-block">Please provide your E-mail</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Password-->
                            <label class="control-label" for="password">Password</label>
                            <div class="controls">
                                <input type="password" id="password" name="password" placeholder="" class="input-xlarge" th:field="*{password}"/>
                                <p class="help-block">Password should be at least 4 characters</p>
                            </div>
                        </div>

                        <!--<div class="control-group">-->
                            <!--&lt;!&ndash; Password Confirm &ndash;&gt;-->
                            <!--<label class="control-label"  for="password_confirm">Password (Confirm)</label>-->
                            <!--<div class="controls">-->
                                <!--<input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge" th:field="*{password_confirm}"/>-->
                                <!--<p class="help-block">Please confirm password</p>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="control-group">
                            <!-- Telephone -->
                            <label class="control-label" for="telephone">Mobile</label>
                            <div class="controls">
                                <input type="text" id="telephone" name="telephone" placeholder="" class="input-xlarge" th:field="*{telephone}"/>
                                <p class="help-block">Please provide your mobile number</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Address -->
                            <label class="control-label" for="address">Address</label>
                            <div class="controls">
                                <input type="text" id="address" name="address" placeholder="" class="input-xlarge" th:field="*{address}"/>
                                <p class="help-block">Please provide your address</p>
                            </div>
                        </div>

                        <!--<div class="control-group">-->
                            <!--&lt;!&ndash; Are you an organizer? &ndash;&gt;-->
                            <!--<label class="control-label" >Are you an organizer?</label>-->
                            <!--<br class="controls">-->
                                <!--Yes <input type="radio" name="owner" placeholder="" class="input-xlarge" value="true"/>-->
                                <!--No <input type="radio" name="owner" placeholder="" class="input-xlarge" value="false"/>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text" >
                                   I am an organizer <br/><input type="checkbox" aria-label="Checkbox for following text input" value="true" />
                                </div>
                            </div>
                            <!--<input type="text" class="form-control" aria-label="Text input with checkbox" />-->
                        </div>

                        <div class="control-group">
                            <div id="recaptcha" class="g-recaptcha" data-theme="light" data-sitekey="6Leq0lYUAAAAADnxWDPdAT1g3FznT25yVZN8viFK"></div>
                            <!-- Button -->
                            <div class="controls">
                                <p class="help-block">Please sign in after registering!</p>
                                <button class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="partials/navbar :: scripts" />
<script src='https://www.google.com/recaptcha/api.js'></script>

</body>
</html>