<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/navbar :: head('Reset Password')"></head>
<body>
<div class="register-bg">
    <nav th:replace="partials/navbar :: navbar" />

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-horizontal" th:action="@{/reset-password}" method="POST" th:object="${user}">
                    <fieldset class="registration-Transparency container-fluid">
                        <div id="legend">
                            <legend style="font-size: 2.5em">Reset Password</legend>
                        </div>
                        <div class="control-group">
                            <!-- Username -->
                            <label class="control-label"  for="email">Email</label>
                            <div class="controls">
                                <input type="text" id="email" placeholder="Email" class="input-xlarge" th:field="*{email}"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Password-->
                            <label class="control-label" for="newPassword">New Password</label>
                            <div class="controls">
                                <input type="password" id="newPassword" class="input-xlarge" th:field="*{password}"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Password -->
                            <label class="control-label"  for="validatePassword">Password (Confirm)</label>
                            <div class="controls">
                                <input type="password" id="validatePassword" name="newPasswordConfirm" class="input-xlarge"/>
                            </div>
                        </div>
                        <br/>
                        <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button class="btn btn-primary">Reset Password</button>
                        </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>