<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/navbar :: head('Reset Password')"></head>
<body>
<div class="register-bg">
    <nav th:replace="partials/navbar :: navbar"/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-horizontal" th:action="@{/reset-password}" th:method="POST" th:object="${user}">
                    <fieldset class="container">
                        <div id="legend">
                            <legend style="font-size: 2.5em">Reset Password</legend>
                        </div>
                        <div class="form-group">
                            <!-- Username -->
                            <input type="text" id="email" placeholder="Email" class="form-control" th:field="*{email}" th:required="required"/>
                        </div>

                        <div class="form-group">
                            <!-- Password-->
                            <input type="password" id="newPassword" class="form-control" placeholder="New Password" th:field="*{password}" th:required="required"/>
                        </div>

                        <div class="form-group">
                            <!-- Password -->
                            <input type="password" id="validatePassword" name="newPasswordConfirm"
                                   class="form-control" placeholder="Confirm New Password" th:required="required"/>
                            <br/>
                            <div class="form-group">
                                <!-- Button -->
                                <button class="btn btn-primary">Reset Password</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>