<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/navbar :: head('Reset Password')"></head>
<body>
<div class="register-bg">
    <nav th:replace="partials/navbar :: navbar"/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-horizontal" th:action="@{/reset-password}" th:method="POST">
                    <fieldset class="container">
                        <div id="legend">
                            <legend style="font-size: 2.5em">Reset Password</legend>
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" placeholder="Email" class="form-control"
                                   th:required="required"/>
                        </div>
                        <div class="form-group">
                            <input type="password" name="newPassword" class="form-control" placeholder="New Password"
                                   th:required="required"/>
                        </div>
                        <div class="form-group">
                            <input type="password" name="newPasswordConfirm"
                                   class="form-control" placeholder="Confirm New Password" th:required="required"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">Reset Password</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>