#test h1{
    opacity: 0;
    margin-top: 25px;
    font-size: 100px;
    text-align: center;
}

#test h2{
    opacity: 0;
    margin-top: 8px;
    font-size: x-large;
    text-align: center;
}

#bgimage-main{
    opacity: 0;
    background: url("../img/club.jpg") center no-repeat;
    background-size: cover;
}

.loginTransparency {
    padding:20px;
    width:300px;
    position:relative;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.3);
}

.search-transparency {
    width: 50%;
    float: none;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-align: center;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.3);
}