.loginTransparency {
    padding:20px;
    width:300px;
    position:relative;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.3);
}

.search-transparency {
    width: 50%;
    float: none;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-align: center;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.3);
}

/*@media(min-width: 768px) {*/
    /*.search-transparency{*/
        /*zoom: 300%;*/
    /*}*/
/*}*/