body {
    text-align: center;
}

#recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.bg-navbar-white {
    background-color: white;
    color: white;
}

.bg {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    font-family: 'Oswald', sans-serif;
}

@media (max-width: 544px) {
    .navbar .navbar-nav > .nav-item {
        float: none;
        margin-left: .1rem;
    }

    .navbar .navbar-nav {
        float: none !important;
    }

    .navbar .collapse.in, .navbar .collapsing {
        clear: both;
    }
}