body {
    text-align: center;
    background-color: #F4F4F4;
}

/*styling for recaptcha on login*/
#recaptcha{
    transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes scale-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.card {
    margin-top: 16px;
}

.fade-in {
    animation: 1.5s ease-in 0s 1 fade-in;
}

.bg-cover {
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;
}

.bg-tr-dark {
    background: rgba(21, 21, 21, 0.7);
}

.bg-tr-dark:focus {
    background: rgba(244, 244, 244, 0.7);
}

.blur {
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

.card-img-h25 {
    height: 25vh;
}

.card-img-h50 {
    height: 50vh;
}

.navbar {
    font-family: Oswald;
}

#map {
    min-height: 30vh;
}
