.bgProlife {
    /* The image used */
    /*background-image: url("/resources/img/automobile-bmw-car-707046.jpg");*/
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    /*background-position: center;*/
    /*background-repeat: repeat;*/
    /*background-size: cover;*/
    position: relative;
    top: 0;
    width: 100%;
    height: auto; /* Equal to our image */
}
.profile-transparency {
    width: 100%;
    float: none;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-align: center;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.3);
}

.foreground {
    position: absolute; /* Overlap the previous div */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1); /* transparent background */
}

img {
    /*display: block;*/
    max-width: 100%;  /* Responsive */
}

.blur {
    -webkit-filter: blur(15px);
    filter: blur(15px);
}

body{
    background-color: #613e39;
}