.register-bg{
    /* The image used */
    background-image: url("/resources/img/automobile-bmw-car-89784.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.registration-Transparency {
    padding:20px;
    width:500px;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
}

.input-xlarge{
    width:300px;
}