<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/navbar :: head('About Us')"></head>
<style>
    .rounded-circle {
        box-shadow: #808080 2px 2px 6px;
    }
</style>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="fluid-container mx-4">
    <div class="row d-flex">
        <div class="col-12">
            <h1 class="display-4">About Us</h1>
        </div>
        <div class="col-xs-12 col-lg-4 d-flex">
            <div class="card">
                <div class="card-body">
                    <img th:src="@{/img/TristanCrawford.jpg}" class="w-50 rounded-circle"/>
                    <hr/>
                    <h5 class="card-title text-primary">Tristan Crawford</h5>
                    <hr/>
                    <p class="card-text text-left text-muted">
                        Tristan has been coding as a hobbyist since he was 8 years old. His hunger for learning is
                        matched only by his unrelenting drive to solve problems.<br/><br/>Tristan loves working with new
                        technologies and finding ways to maximize his efficiency. <small class="font-weight-light">That's why he uses Vim!</small><br/><br/>And best of
                        all, he's available for hire!
                    </p>
                </div>
                <div class="card-footer">
                    <a target="_blank" href="https://www.linkedin.com/in/tristanthtcrawford/">
                        <i class="fa fa-2x fa-linkedin-square"></i>
                    </a>
                    <a target="_blank" href="https://www.github.com/TristanCrawford">
                        <i class="fa fa-2x fa-github-square"></i>
                    </a>
                    <a target="_blank" href="mailto:tristanthtcrawford@gmail.com">
                        <i class="fa fa-2x fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4 d-flex">
            <div class="card">
                <div class="card-body">
                    <img th:src="@{/img/EdwinGonzales.jpg}" class="w-50 rounded-circle"/>
                    <hr/>
                    <h5 class="card-title text-primary">Edwin Gonzales</h5>
                    <hr/>
                    <p class="card-text text-left text-muted">
                        Edwin is both a veteran and a Systems and Software Engineer. He takes pride in his training
                        and his technical accumen and strives to learn new things on a daily basis.<br/><br/>His experience has
                        given him the tools necessary to solve real-world business problems with clean and concise code;
                        so much so that he has recently taken on a job at Oracle as a Cloud Platform Engineer, and is
                        ready to take on the world!
                    </p>
                </div>
                <div class="card-footer">
                    <a target="_blank" href="https://www.linkedin.com/in/edwin-o-gonzales/">
                        <i class="fa fa-2x fa-linkedin-square"></i>
                    </a>
                    <a target="_blank" href="https://github.com/edwin-gonzales-n">
                        <i class="fa fa-2x fa-github-square"></i>
                    </a>
                    <a target="_blank" href="mailto:edwin.gonzales.n@gmail.com">
                        <i class="fa fa-2x fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4 d-flex">
            <div class="card">
                <div class="card-body">
                    <img th:src="@{/img/JamesFowler.jpg}" class="w-50 rounded-circle"/>
                    <hr/>
                    <h5 class="card-title text-primary">James Fowler</h5>
                    <hr/>
                    <p class="card-text text-left text-muted">
                        A tenacious Software Developer with ambition for furthering his knowledge.<br/><br/>He adapts
                        well to
                        various
                        environments and pushes to excel in any situation presented.<br/><br/>James is ready to
                        actualize his
                        potential in
                        a challenging career and contribute constructively to an organization.
                    </p>
                </div>
                <div class="card-footer">
                    <a target="_blank" href="https://www.linkedin.com/in/james-a-fowler/">
                        <i class="fa fa-2x fa-linkedin-square"></i>
                    </a>
                    <a target="_blank" href="https://github.com/JamesFowler3">
                        <i class="fa fa-2x fa-github-square"></i>
                    </a>
                    <a target="_blank" href="mailto:jamesfowler033@gmail.com">
                        <i class="fa fa-2x fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="partials/navbar :: scripts"></script>
</body>
</html>