<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/navbar :: head('About Us')"></head>
<style>
    .rounded-circle {
        box-shadow: #808080 2px 2px 6px;
    }
</style>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="fluid-container mx-4">
    <div class="row d-flex">
        <div class="col-12">
            <h1 class="display-4">About Us</h1>
        </div>
        <div class="col-xs-12 col-lg-4 d-flex">
            <div class="card">
                <div class="card-body">
                    <img th:src="@{/img/TristanCrawford.jpg}" class="w-50 rounded-circle"/>
                    <hr/>
                    <h5 class="card-title text-primary">Tristan Crawford</h5>
                    <hr/>
                    <p class="card-text text-left text-muted">
                        <span style="text-align: center">Software Developer</span><br/><br/>
                        Contributions:<br/>
                        * Frontend Design and UX<br/>
                        * Mobile Friendly Responsiveness<br/>
                        * Bootstrap Implementation<br/>
                        * Google API Integration<br/>
                        * Spring Security<br/>
                        * JS and Java Logic
                    </p>
                </div>
                <div class="card-footer">
                    <a target="_blank" href="https://www.linkedin.com/in/tristanthtcrawford/">
                        <i class="fa fa-2x fa-linkedin-square"></i>
                    </a>
                    <a target="_blank" href="https://www.github.com/TristanCrawford">
                        <i class="fa fa-2x fa-github-square"></i>
                    </a>
                    <a target="_blank" href="mailto:tristanthtcrawford@gmail.com">
                        <i class="fa fa-2x fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4 d-flex">
            <div class="card">
                <div class="card-body">
                    <img th:src="@{/img/EdwinGonzales.jpg}" class="w-50 rounded-circle"/>
                    <hr/>
                    <h5 class="card-title text-primary">Edwin Gonzales</h5>
                    <hr/>
                    <p class="card-text text-left text-muted">
                        <span style="text-align: center">Systems and Software Engineer</span><br/><br/>
                        Contributions:<br/>
                        * Project idea<br/>
                        * Database Design<br/>
                        * reCaptcha Security API<br/>
                        * FileStack API<br/>
                        * Stripe API<br/>
                        * JS and Java logic
                    </p>
                </div>
                <div class="card-footer">
                    <a target="_blank" href="https://www.linkedin.com/in/edwin-o-gonzales/">
                        <i class="fa fa-2x fa-linkedin-square"></i>
                    </a>
                    <a target="_blank" href="https://github.com/edwin-gonzales-n">
                        <i class="fa fa-2x fa-github-square"></i>
                    </a>
                    <a target="_blank" href="mailto:edwin.gonzales.n@gmail.com">
                        <i class="fa fa-2x fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4 d-flex">
            <div class="card">
                <div class="card-body">
                    <img th:src="@{/img/JamesFowler.jpg}" class="w-50 rounded-circle"/>
                    <hr/>
                    <h5 class="card-title text-primary">James Fowler</h5>
                    <hr/>
                    <p class="card-text text-left text-muted">
                        <span style="text-align: center">Software Developer</span><br/><br/>
                        Contribution:<br/>
                        * Backend Java logic<br/>
                        * User login logic and handling<br/>
                        * Password Reset logic<br/>
                        * Pages functionality via Spring and Thymeleaf<br/>
                        * Forms to Database JPA Integration.
                    </p>
                </div>
                <div class="card-footer">
                    <a target="_blank" href="https://www.linkedin.com/in/james-a-fowler/">
                        <i class="fa fa-2x fa-linkedin-square"></i>
                    </a>
                    <a target="_blank" href="https://github.com/JamesFowler3">
                        <i class="fa fa-2x fa-github-square"></i>
                    </a>
                    <a target="_blank" href="mailto:jamesfowler033@gmail.com">
                        <i class="fa fa-2x fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="partials/navbar :: scripts"></script>
</body>
</html>