<html xmlns:th="http://www.thymeleaf.org">

<!--<head th:replace="partials/navbar:: head"/>-->
<head th:replace="partials/navbar :: head('The Event Aid')"/>

<body class="fade-in" style="background: #000;">
<img th:src="@{/img/concert.jpg}" alt="" class="bg-cover"/>

<nav th:replace="partials/navbar :: navbar"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-lg-4 offset-lg-4">
            <img class="mw-100" th:src="@{img/Event_Aid_logo.png}" alt=""/>
            <form th:action="@{/search}" th:method="post">
                <input class="form-control text-center bg-tr-dark border-dark" type="text"
                       placeholder="Search Events" name="query"/>
                <button style="display: none"></button>
            </form>
        </div>
    </div>
</div>
<!--<script th:src="@{/js/jquery-2.2.4.min.js}"></script>-->
<script>
    let urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has("error")) {
        // console.log("error");
        // let fadeIn = document.getElementsByClassName("fade-in");
        // console.log(fadeIn);
        // // document.getElementsByClassName("dropdown-toggle").enableProperty("");
        // document.getElementById("error").innerHTML = "Invalid Login";
        // fadeIn.disabled = true;
    // class="dropdown open"
    //     let dropdown = $('.dropdown-toggle');
        // dropdown.disable();
        document.querySelector(".fade-in").className = "";
        let dropdown = document.querySelector(".dropdown-menu");
        dropdown.className += " show";
    }


</script>
<div th:replace="partials/navbar :: scripts"/>

</body>
</html>