<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="Partials/header :: header('Single Post Page')">
    <meta charset="UTF-8" />
</head>
<body>
<div th:replace="Partials/navbar :: navbar"></div>
<main class="container">
    <h1>Log In</h1>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" th:feild="${username}"/>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" th:feild="${password}"/>
        <input type="submit" value="Log In" />
    </form>
</main>

</body>
</html>