<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Partials/header :: header('Single Post Page')">
    <meta charset="UTF-8" />
</head>
<body>
<div th:replace="Partials/navbar :: navbar"></div>
<main class ="container">
    <h1>Create an account</h1>
    <form th:action="@{/sign-up}" method="POST" th:object="${user}">
        <label for="email">Email</label>
        <input id="email" th:field="*{email}" />

        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}" />

        <label for="firstname">First Name</label>
        <input id="firstname" th:field="*{firstname}" />

        <label for="lastname">Last Name</label>
        <input id="lastname" th:field="*{lastname}" />

        <label for=telephone>Telephone</label>
        <input id=telephone th:field="*{telephone}" />

        <input name="owner" value="true" th:feild="*{owner}" type="checkbox" >

        <input value="Sign me up!" type="submit" />
    </form>
</main>
</body>
</html>